
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.container-fluid{
  padding: 0;
  margin-bottom: 30px;

}
.bod{
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  &::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(140, 140, 140, 0.4);
  }
}


.header{
  position: relative;
  text-align: left;
  h1{
    color: whitesmoke;
    font-family: American Typewriter;
    font-size: 82px;
    font-weight: 200;
    margin: 36px 0px 0 10px;
    text-transform: capitalize;
    text-decoration: overline;
  }
}




.signup{
  color: black;
  text-align: center;
  width: 600px;
  margin: 100px auto;
  font-family:  American Typewriter;
  position: relative;
  .well{
  background-color: rgba(250, 250, 250, 0.8);
  h2{
  letter-spacing: 1px;
  margin-top: 0;
  }
  input{
    margin: 8px 0 8px 0;
  }
  p{
    margin: 0;
  }
  button{
    display: block;
    width: 100%;
    margin: 8px 0 8px 0;
    background-color: rgba(109, 26, 7, 1);
    border: 1px solid rgba(109, 26, 7, 1);

  }

  }
}


.login{
  color: black;
  text-align: center;
  width: 600px;
  margin: 100px auto;
  font-family:  American Typewriter;
  position: relative;
  .well{
  background-color: rgba(250, 250, 250, 0.8);
  h2{
  letter-spacing: 1px;
  margin-top: 0;
  }
  input{
    margin: 8px 0 8px 0;
  }
  button{
    display: block;
    width: 100%;
    margin: 8px 0 8px 0;
    background-color: rgba(109, 26, 7, 1);
    border: 1px solid rgba(109, 26, 7, 1);
  }
  }
}


.app-header{
  background-color: rgba(109, 26, 7, 1);
  font-family:   American Typewriter;
  color: white;
  text-align: center;
  form{
    margin-left: -29px;
    margin-top: 18px;
    width: 25%;
    display: inline-block;
    input{
      width: 100%;
    }
  }
  h1{
    font-size: 35px;
    float: left;
    margin: 15px 0 15px 20px;
    display: inline-block;
  }
  a{

    display: inline-block;
    text-decoration: none;
    color: white;
    float: right;
    font-size: 20px;
    margin: 22px 25px 0 0;
    .glyphicon-th{
      padding-right: 5px;
    }
    &:hover{
      color: rgba(208, 168, 106, 1);
    }
  }
  .profile-icon{
    display: inline-block;
    .carot{
      font-size: 12px;
      padding-left: 2px;
    }
    p{
      margin: 0 5px 0px 20px;
      display: inline-block;
    }
  }
  .user-list{
    list-style: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    padding: 0;
    margin: 5px 0px 0px -70px;
    cursor: pointer;
    right: 35px;
    li{
      padding: 5px 20px 5px 20px;
      &:hover{
        background-color: rgba(109, 26, 7, 1);
        color: white;
      }
    }
  }
}

$lines-to-show: 3;
.thumbnail{
  cursor: pointer;
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.75);
  // padding: 0;
  img{
    width: 100%;
    height: 320px;
  }
  h3{
    font-family: American Typewriter;
    margin-bottom: 1px;

    &:hover{
      text-decoration: underline;

    }
  }
  h4{
    margin-top: 0;
    margin-bottom:  6px;
    font-family: American Typewriter;
    color:  rgba(109, 26, 7, 1);
  }
  p{
   font-family: Courier New;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 16px;
  }
  button{
    font-family: American Typewriter;
    margin-left: 113px;
    color: white;
    background-color: rgba(109, 26, 7, 1);
    border: 1px solid rgba(109, 26, 7, 1);
    &:hover{
      background-color: rgba(109, 26, 7, 0);
      color: rgba(109, 26, 7, 1);
    }
  }
  &:hover{
    -webkit-box-shadow: -1px 4px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 10px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 10px 3px rgba(0,0,0,0.75);
  }
}


.recipe{
  text-align: center;
  font-family: American Typewriter;
  img{
    max-width: 600px;
    max-width: 300px;
  }
  h1{
    margin-bottom: 0;
  }
  h2{
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgba(109, 26, 7, 1);
  }
   h3{
     color: rgba(109, 26, 7, 1);
   }
   p{
     max-width: 450px;
     text-align: center;
     margin: 8px auto 15px auto;
     font-size: 20px;
   }
  .recipe-info{

    .info-chart{
      margin-right: -5px;
      ul{
          padding: 0;
          list-style: none;
          width: 465px;
          margin: 0 auto;
        li{
          font-size: 15px;
          text-align: left;
          display: inline-block;
          border: 1px solid lightgray;
          color: darkred;
          height: 80px;
          width: 25%;
          vertical-align: top;

          p{
            margin-left: 8px;
            font-size: 16px;
            margin-bottom: 5px;
            display: block;
            color: black;
            text-align: left;
          }
          span{
            padding: 0 0 0 6px;
            font-size: 24px;
            color: darkred;
          }
        }
      }
    }
    .serving-chart{
      border-radius: 3px;
      margin: 10px auto 45px auto;
      border: 2px solid lightgray;
      width: 465px;
      h2{
        margin: 10px auto 0 auto;
        padding-bottom: 8px;
        border-bottom: 1px solid lightgray;
      }

      table{
        margin-bottom: 0;
      }
    }
  }
}


.create{
  width: 600px;
  margin: 0 auto;
  h1{
    margin-top: 0px;
    text-align: center;
    font-family:   American Typewriter;
  }
  .basic-info{
    margin-top: 20px;

    .add-img{
      padding-top: 20px;
      font-family:   American Typewriter;
      vertical-align: top;
      text-align: center;
      color: darkred;
      background-color: darkgray;
      display: inline-block;
      height:150px;
      width: 175px;
    }
    form{
      margin: 0px 0 0 10px;
      display: inline-block;
      width: 65%;
      input{
        margin-bottom: 10px;

      }
      #description{
        height: 61px;
        padding: 0px 0px 28px 10px;      }
    }
  }
  .more-create-info{
    margin-top: 15px;
    #making-info{
      select{
        margin-right: 5px;
      }
      input{
        display: inline-block;
        width: 26%;
        margin-left: 7px;
      }
    }
    #will-make{
      margin-top: 15px;
      border-bottom: 1px solid lightgray;
      padding-bottom: 20px;
      p{
        display: inline-block;
        font-size: 16px;
      }
      input{
        display: inline-block;
        width: 61%;
        margin-left: 5px;
      }
    }
  }
  button{
    width: 100%;
    margin: 20px auto;
    color: white;
    background-color: rgba(109, 26, 7, 1);
    border: 1px solid rgba(109, 26, 7, 1);
    &:hover{
      color:rgba(109, 26, 7, 1);
      background-color: rgba(109, 26, 7, 0);
      border: 1px solid rgba(109, 26, 7, 1);
    }
  }
}
